@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
		--cactus-link: #0d4792; /*  Chelsea Blue */
		--nav-link: #a91627; /* ally Chelsea Red */
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
		--cactus-link: #d8a031; /* ally Chelsea Gold */
		--nav-link: #ff334e; /* a11y Chelsea Red */
	}
}

.blog-textwrap {
	margin: 20px auto;
	text-align: center;
	max-width: 20rem;
}

.blog-textwrap-balance {
	text-wrap: balance;
}

.cactus-link {
	color: var(--cactus-link);
}

nav a {
	color: var(--nav-link);
}

.header-logo {
	display: flex;
	margin-right: 10px;
}

.header-icons button {
	width: 30px;
	height: 30px;
}
