---
import { Image } from "astro:assets";
import avatar from "@/assets/avatar.jpg";
import PageLayout from "@/layouts/Base.astro";
import DLList from "@/components/DLList.astro";

const meta = {
	description: "About Michael Kitzman",
	title: "About",
};

const music: { desc: string; href: string; title: string }[] = [
	{
		desc: "Listen to radio stations around the world. My favorite stations, KCRW Eclectic 24 (Santa Monica), Ke Buena (Mexico City), Arctic Outpost AM1270 (Longyearbyen Norway), Triple J Melbourne and Shonan Beach FM (Japan)",
		href: "https://radio.garden",
		title: "Radio Garden",
	},
	{
		desc: "Great for discovering UK pop, rap and alternative.",
		href: "https://www.bbc.co.uk/sounds/play/live:bbc_radio_one",
		title: "BBC Radio 1",
	},
	{
		desc: "Their live concerts are some of the best.",
		href: "https://kexp.org/watch/",
		title: "KEXP",
	},
	{
		desc: "Where its always summer.",
		href: "https://poolsuite.net/",
		title: "Poolsuite",
	},
	{
		desc: "Old school Country.",
		href: "https://theranchradio.org/",
		title: "The Ranch",
	},
	{
		desc: "Great for getting a sense of the city.",
		href: "https://drivenlisten.com/#",
		title: "Drive and Listen",
	},
];
---

<style>
	.avatar {
		border-radius: 48% 52% 38% 62%/27% 28% 72% 73%;
		width: 200px;
	}
	.textHightlight {
		padding: 0 6px;
		display: inline-flex;
		font-weight: bold;
		border-radius: 4px;
	}

	.broncos {
		background-color: #112d50;
		color: #e37838;
	}
	.lakers {
		background-color: #552583;
		color: #fdb927;
	}
	.chelsea {
		background-color: #034694;
		color: #ffffff;
	}
</style>

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<div class="float-right">
			<Image
				alt="Profile Photo"
				fetchpriority="high"
				loading="eager"
				class="avatar"
				src={avatar}
			/>
		</div>
		<p>
			I'm a Frontend Engineer with extensive experience building web sites
			viewed by billions of people. I primarly work with CSS, JavaScript and
			HTML. I'm passionate about creating seamless user experiences and driving
			best practices, accessibility, design systems, and front-end innovation.
		</p>

		<p>
			My core skills right now are React, Typescript, HTML5, CSS3, JavaScript
			(ES6+), Accessibility, build systems, and div ops (github, package
			Management, Babel etc..). I've also worked on two design systems. I lead
			the Teachable Design System Uni ( docs in Storybook) and worked on the
			Medallia Alchemy (docs in Gatsby) one that we started from scratch.
		</p>
		<section class="mt-16">
			<h2 class="text-l title mb-4">Work</h2>
			<ul>
				<li class="mb-6">
					<h3>
						<a
							class="cactus-link text-xl font-semibold"
							href="https://teachable.com"
							rel="noreferrer"
							target="_blank"
						>
							Teachable: Creator Economy platform post-acquisition.
						</a>
					</h3>
					<h4 class="font-semibold">
						Senior Frontend Engineer, Engineering Enablement & Design System
						Lead
					</h4>
					<p>
						Collaborated on a team focused on empowering teams to develop more
						efficiently, improve code quality, and accelerate product delivery
						across the entire company. Led the development and maintenance of a
						unified design system, driving consistency, scalability, and
						accessibility across UI components.
					</p>
				</li>
				<li class="mb-6">
					<h3>
						<a
							class="cactus-link text-xl font-bold"
							href="https://www.medallia.com"
							rel="noreferrer"
							target="_blank"
						>
							Medallia: Experience Management Platform post-IPO.
						</a>
					</h3>
					<h4 class="font-semibold">Senior Frontend Engineer, Design System</h4>
					<p>
						Drove consistency, scalability, and design excellence across
						Medallia's global ecosystem, serving renowned clients such as Apple
						and Bank of America, and setting the standard for exceptional user
						experiences.
					</p>
				</li>
				<li class="mb-6">
					<h3>
						<a
							class="cactus-link text-xl font-bold"
							href="https://www.oracle.com/"
							rel="noreferrer"
							target="_blank"
						>
							Oracle via AddThis Acquisition: Oracle Marketing Cloud
						</a>
					</h3>
					<h4 class="font-semibold">Principal Frontend Engineer</h4>
					<p>
						Played a critical role in a high-performing team delivering a
						product reaching 1.9 billion unique visitors monthly across 15
						million domains, with 280 billion interactions, and available in 70
						languages. Spearheaded the development of the admin application,
						empowering users to customize marketing promotions.
					</p>
				</li>
				<li>
					<h3>
						<a
							class="cactus-link text-xl font-bold"
							href="https://sports.yahoo.com/fantasy"
							rel="noreferrer"
							target="_blank"
						>
							Yahoo! Sports: Fantasy Sports website
						</a>
					</h3>
					<h4 class="font-semibold">Principal Frontend Engineer</h4>
					<p>
						Collaborated on the development of the #1 Fantasy Sports website,
						attracting tens of millions of views monthly, delivering
						user-focused products adhering to web standards and leveraging
						cutting-edge techniques.
					</p>
				</li>
			</ul>
			<h3 class="text-l mt-8">
				<a
					class="cactus-link"
					href="https://www.linkedin.com/in/michaelkitzman/"
					rel="noreferrer"
					target="_blank"
				>
					Full Resume on LinkedIn
				</a>
			</h3>
		</section>
		<section class="mt-16">
			<h2 class="text-l title mb-4">Personal Interests</h2>

			<h2 class="title mb-4 text-xl">Sports</h2>
			<p>
				I love sports. I grew up playing Tennis, Basketball and Swimming. My
				unquestioned three favorite teams are the Lakers, Broncos and Chelsea.
				There are a few other teams I follow occasionally too. I don't follow
				Hockey much anymore but if I did it would be the Colorado Avalanche. I
				really don't follow baseball but if I did it would be the Dodgers or
				Nationals. I'm near Baltimore now so maybe I'll try the Orioles or maybe
				Phillies.
			</p>

			<h3 class="title mt-4 text-base">Favorite Teams</h3>
			<ul class="mt-4">
				<li class="mb-6">
					<h3>
						<span class="lakers textHightlight">Los Angeles Lakers</span>
					</h3>
					<p>Starters: Kobe, Shaq, Lebron, Pau, AD</p>
					<p>Bench: Odom, Horry, Ariza, Kuzma and Reeves.</p>
				</li>
				<li class="mb-6">
					<h3>
						<span class="broncos textHightlight">Denver Broncos</span>
					</h3>
					<p>Mount Rushmore: Elway, Manning, TD, Von</p>
				</li>
				<li class="mb-6">
					<h3>
						<span class="chelsea textHightlight">Chelsea F.C.</span>
					</h3>
					<p>
						Starting XI (4-3-2-1): Drogba, Palmer, Hazard, Lampard, Kanté,
						Essien, Azpilicueta, Luiz, Terry, Cole, Čech
					</p>
				</li>
			</ul>

			<h2 class="title mb-4 mt-8 text-xl">Music</h2>

			<h3 class="title mt-4 text-base">Favorites</h3>
			<p class="mb-8 mt-4">
				I listen to a wide range of music but the main genres I've listened to
				the most are probably Rock, Alternative, Rap and Electronic. It's hard
				to pin down a favorite band all time but it is probably Tool.
			</p>

			<p class="mb-4">Some of my favorite songs.</p>
			<ul>
				<li><strong>Arcarsenal</strong> - At The Drive-In</li>
				<li><strong>Bulls on Parade</strong> - Rage Against the Machine</li>
				<li><strong>Cherub Rock</strong> - The Smashing Pumpkins</li>
				<li><strong>Loser</strong> - Beck</li>
				<li><strong>Margarittaville</strong> - Jimmy Buffett</li>
				<li><strong>Operation Doomsday</strong> - MF DOOM</li>
				<li><strong>Parabola</strong> - Tool</li>
				<li><strong>Rich Spirt</strong> - Kendrick Lamar</li>
				<li><strong>Sit Next to Me</strong> - Foster the People</li>
			</ul>

			<h3 class="title mt-4 text-base">Discovery</h3>
			<p class="mb-8 mt-4">
				I'm always search for my new favorite song. In 2023 I listened to 1,655
				different artists across 144 different genres. My go to music App is
				Apply Music but I use a bunch of other sites for music discovery as
				well. I use Sirius in my car and at home sometimes but its really
				starting to have a lot of duplicate channels I don't like.
			</p>

			<DLList
				data={[
					{
						desc: "Listen to radio stations around the world. My favorite stations, KCRW Eclectic 24 (Santa Monica), Ke Buena (Mexico City), Arctic Outpost AM1270 (Longyearbyen Norway), Triple J Melbourne and Shonan Beach FM (Japan)",
						href: "https://radio.garden",
						title: "Radio Garden",
					},
					{
						desc: "Great for discovering UK pop, rap and alternative.",
						href: "https://www.bbc.co.uk/sounds/play/live:bbc_radio_one",
						title: "BBC Radio 1",
					},
					{
						desc: "Their live concerts are some of the best.",
						href: "https://kexp.org/watch/",
						title: "KEXP",
					},
					{
						desc: "Where its always summer.",
						href: "https://poolsuite.net/",
						title: "Poolsuite",
					},
					{
						desc: "Old school Country.",
						href: "https://theranchradio.org/",
						title: "The Ranch",
					},
					{
						desc: "Great for getting a sense of the city.",
						href: "https://drivenlisten.com/#",
						title: "Drive and Listen",
					},
				]}
			/>
		</section>
	</div>
</PageLayout>
