---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "IAccessibility Statement for michaelkitzman.com",
	title: "Accessibility",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h2 class="title">Accessibility Statement</h2>
		<p>
			This is an accessibility statement from <span
				class="basic-information organization-name">Michael Kitzman</span
			>.
		</p>
		<h3 class="title">Conformance status</h3>
		<p>
			The <a
				class="cactus-link"
				target="_blank"
				rel="external"
				href="https://www.w3.org/WAI/standards-guidelines/wcag/"
				>Web Content Accessibility Guidelines (WCAG)</a
			> defines requirements for designers and developers to improve accessibility
			for people with disabilities. It defines three levels of conformance: Level
			A, Level AA, and Level AAA.
			<a
				class="cactus-link"
				href="https://www.michaelkitzman.com"
				target="_blank">michaelkitzman.com</a
			>
			is
			<span
				class="basic-information conformance-status"
				data-printfilter="lowercase">fully conformant</span
			>
			with
			<span class="basic-information conformance-standard"
				><span data-negate="">WCAG 2.1 level AA</span>.</span
			>
			<span>
				<span class="basic-information conformance-status"
					>Fully conformant</span
				>
				means that
				<span class="basic-information conformance-meaning"
					>the content fully conforms to the accessibility standard without any
					exceptions</span
				>.
			</span>
		</p>
		<h3 class="title">Feedback</h3>
		<p>
			I welcome your feedback on the accessibility of
			<a
				class="cactus-link"
				href="https://www.michaelkitzman.com"
				target="_blank">michaelkitzman.com</a
			>. Please let us know if you encounter accessibility barriers on
			<a
				class="cactus-link"
				href="https://www.michaelkitzman.com"
				target="_blank">michaelkitzman.com</a
			>:
		</p>
		<ul class="list-inside list-disc">
			<li class="contact-other p-note">
				<a
					class="cactus-link"
					target="_blank"
					href="https://www.linkedin.com/in/michaelkitzman/"
				>
					https://www.linkedin.com/in/michaelkitzman/
				</a>
			</li>
		</ul>
		<p>
			I try to respond to feedback within <span class="feedback responsetime"
				>2 business days</span
			>.
		</p>
		<h3 class="title">Technical specifications</h3>
		<p>
			Accessibility of
			<a
				class="cactus-link"
				href="https://www.michaelkitzman.com"
				target="_blank">michaelkitzman.com</a
			>
			relies on the following technologies to work with the particular combination
			of web browser and any assistive technologies or plugins installed on your
			computer:
		</p>
		<ul class="list-inside list-disc">
			<li>HTML</li>
			<li>WAI-ARIA</li>
			<li>CSS</li>
			<li>JavaScript</li>
		</ul>
		<p>
			These technologies are relied upon for conformance with the accessibility
			standards used.
		</p>
		<h3 class="title">Assessment approach</h3>
		<p>
			<a
				class="cactus-link"
				href="https://www.michaelkitzman.com"
				target="_blank"
			>
				assessed the accessibility of
				<span class="basic-information website-name">michaelkitzman.com</span>
				by the following approaches:
			</a>
			<ul class="list-inside list-disc">
				<li>Self-evaluation</li>
			</ul>
			<h3 class="title">Date</h3>
			<p>
				This statement was created on
				<span class="basic-information statement-created-date"
					>11 November 2024</span
				>
				using the <a
					class="cactus-link"
					rel="external"
					target="_blank"
					href="https://www.w3.org/WAI/planning/statements/"
					>W3C Accessibility Statement Generator Tool</a
				>.
			</p>
		</p>
		<nav class="a11y-webring-club" aria-labelledby="a11y-webring-club">
			<h2 class="title" id="a11y-webring-club">a11y-webring.club</h2>
			<p class="mt-4">
				This site is a member of the <a
					class="cactus-link"
					target="_blank"
					rel="external"
					href="https://a11y-webring.club/">a11y-webring.club</a
				>.
			</p>
			<ul class="mt-4 list-inside list-disc">
				<li class="mt-2">
					<a
						class="cactus-link"
						rel="external"
						target="_blank"
						referrerpolicy="strict-origin"
						href="https://a11y-webring.club/prev">Previous website</a
					>
				</li>
				<li class="mt-2">
					<a
						class="cactus-link"
						rel="external"
						target="_blank"
						referrerpolicy="strict-origin"
						href="https://a11y-webring.club/random">Random website</a
					>
				</li>
				<li class="mt-2">
					<a
						rel="external"
						target="_blank"
						referrerpolicy="strict-origin"
						href="https://a11y-webring.club/next">Next website</a
					>
				</li>
			</ul>
		</nav>
	</div>
</PageLayout>
