---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const mikeTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Building fast, scalable web applications in React ecosystem.",
		href: "https://astro.build",
		title: "Javascript/React",
	},
	{
		desc: "Expericence with CSS in all forms, SASS, CSS in JS, Utility, Tailwind",
		href: "https://tailwindcss.com",
		title: "CSS",
	},
	{
		desc: "Well-versed in semantic HTML for accessible, structured content.",
		href: "https://www.markdownguide.org/",
		title: "HTML",
	},
	{
		desc: "Design and develop inclusive products.",
		href: "https://mdxjs.com/",
		title: "Accessibility",
	},
	{
		desc: "Led DS teams and built design systems from scratch. ",
		href: "https://github.com/vercel/satori",
		title: "Design Systems",
	},
	{
		desc: "Jest, React Testing Library, Chrome Dev Tools, A11Y tools.",
		href: "https://pagefind.app/",
		title: "Testing",
	},
	{
		desc: "Webpack, Babel, ESLint, Github, Github Actions, DataDog, Sentry, CI/CD.",
		href: "https://pagefind.app/",
		title: "DivOps",
	},
	{
		desc: "Responsive Web Design, Mobile-First, PageSpeed Insights, Lighthouse",
		href: "https://github.com/natemoo-re/astro-icon#readme",
		title: "Web Apps",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hi! 👋</h1>
		<p class="mb-4">
			I'm a highly accomplished Front End Engineer with a proven track record of
			building scalable, accessible, and visually stunning web applications
			primarly using React, TypeScript, CSS, and HTML. With experience
			contributing to world-class websites serving billions of users globally, I
			excel at crafting seamless user experiences and driving best practices in
			accessibility, design systems, and front-end innovation.
		</p>
		<SocialList />
	</section>
	<div class="mx-auto mt-8 max-w-4xl">
		<hr aria-hidden="true" class="border-skin-line" />
	</div>
	<section aria-label="Blog post list" class="mt-12">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Skillset</h2>
		<dl class="space-y-4">
			{
				mikeTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a
									class="cactus-link"
									href={href}
									rel="noreferrer"
									target="_blank"
								>
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
