---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const mikeTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Building fast, scalable web applications in React ecosystem.",
		href: "https://astro.build",
		title: "Javascript/React",
	},
	{
		desc: "Expericence with CSS in all forms, SASS, CSS in JS, Utility, Tailwind",
		href: "https://tailwindcss.com",
		title: "CSS",
	},
	{
		desc: "Well-versed in semantic HTML for accessible, structured content.",
		href: "https://www.markdownguide.org/",
		title: "HTML",
	},
	{
		desc: "Design and develop inclusive products.",
		href: "https://mdxjs.com/",
		title: "Accessibility",
	},
	{
		desc: "Led DS teams and built design systems from scratch. ",
		href: "https://github.com/vercel/satori",
		title: "Design Systems",
	},
	{
		desc: "Jest, React Testing Library, Chrome Dev Tools, A11Y tools.",
		href: "https://pagefind.app/",
		title: "Testing",
	},
	{
		desc: "Webpack, Babel, ESLint, Github, Github Actions, DataDog, Sentry, CI/CD.",
		href: "https://pagefind.app/",
		title: "DivOps",
	},
	{
		desc: "Responsive Web Design, Mobile-First, PageSpeed Insights, Lighthouse",
		href: "https://github.com/natemoo-re/astro-icon#readme",
		title: "Web Apps",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hi I'm Michael! 👋</h1>
		<p class="mb-4">
			I'm a highly accomplished Front End Engineer with a proven track record of
			building scalable, accessible, and visually stunning web applications
			primarly using React, TypeScript, CSS, and HTML. With experience
			contributing to world-class websites serving billions of users globally, I
			excel at crafting seamless user experiences and driving best practices in
			accessibility, design systems, and front-end innovation.
		</p>
		<SocialList />
	</section>
	<div class="mx-auto mt-8 max-w-4xl">
		<hr aria-hidden="true" class="border-skin-line" />
	</div>
	<section aria-label="Blog post list" class="mt-12">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Skillset</h2>
		<dl class="space-y-4">
			{
				mikeTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noreferrer">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">About this site</h2>

		<p>
			This site is a modified version of <a
				class="cactus-link"
				href="https://github.com/chrismwilliams/astro-theme-cactus/tree/main"
				rel="external">AstroCactus</a
			>. It uses <a
				class="cactus-link"
				href="https://www.typescriptlang.org/"
				rel="external">TypeScript</a
			>, <a class="cactus-link" href="https://react.dev/" rel="external"
				>ReactJS</a
			> for components, <a
				class="cactus-link"
				href="https://tailwindcss.com/"
				rel="external">TailwindCSS</a
			> for styling, and <a
				class="cactus-link"
				href="https://www.markdownguide.org/"
				rel="external">Markdown</a
			> for blog content. The code and syntax highlighting are handled by <a
				class="cactus-link"
				href="https://expressive-code.com/"
				rel="external">Expressive Code</a
			>. The icons use <a
				class="cactus-link"
				href="https://www.astroicon.dev/"
				rel="external">Astro Icon</a
			>. I'm using the <a
				class="cactus-link"
				href="https://astro.build/"
				rel="external">Astro.build</a
			> framework and hosting on <a
				class="cactus-link"
				href="https://www.netlify.com/"
				rel="external">Netlify</a
			>
			which auto deploys my website based on git commits. <a
				class="cactus-link"
				href="https://pagefind.app/"
				rel="external">Pagefind static search library</a
			> integration for search.
		</p>

		<a
			class="cactus-link mt-4 inline-block"
			rel="external"
			href="https://github.com/mkitzman/personal-site">View Source on Github</a
		>

		<p class="mt-8">
			As a Front End Developer its my job and goal to build a website that is
			usable for the widest possible audience regardless of technology or
			ability.
		</p>
		<a
			class="cactus-link mt-4 inline-block"
			data-astro-prefetch
			href="/accessibility">Accessibility statement</a
		>
	</section>
</PageLayout>
