---
import { Image } from "astro:assets";
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description:
		"A list of /uses detailing my developer setups, gear, software and configs.",
	title: "Uses",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Uses</h1>
		<p>
			A list of /uses detailing my developer setups, gear, software and configs.
			Based off of
			<a
				class="cactus-link inline-block font-semibold"
				href="https://wesbos.com/uses"
				rel="noreferrer">Wes Bos's</a
			>
			<a
				class="cactus-link inline-block font-semibold"
				href="https://uses.tech/like/React"
				rel="noreferrer">uses.tech</a
			>
		</p>
		<p>Last updated November 2024</p>
		<h2 class="title">Development</h2>
		<ul class="list-inside list-disc">
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://code.visualstudio.com"
					rel="noreferrer">VS Code</a
				> - It's fine, but I'd be open to switching if something better comes along.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://arc.net/"
					rel="noreferrer">Arc</a
				> - Best browser around, hands down.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://www.warp.dev/"
					rel="noreferrer">Warp</a
				> - For command line, mostly because I always mistype “git checkout” as “git
				checkout” and it's easy to fix without knowing shortcuts. Has many cool features
				too.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://affinity.serif.com/en-us/designer/"
					rel="noreferrer">Affinity Photo and Designer</a
				> - ust as good for what I do as Illustrator, minus the exorbitant monthly
				cost.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://www.pixelmator.com/pro/"
					rel="noreferrer">Pixelmator Pro</a
				> - Not as good as Photoshop, but does a great job for my needs, and I can
				pay just once.
			</li>
		</ul>
		<h2 class="title">Hardware</h2>
		<ul class="list-inside list-disc">
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://www.apple.com/shop/buy-mac/macbook-pro/16-inch"
					rel="noreferrer">2021 16-inch Apple MacBook Pro with M1 chip</a
				>
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://www.amazon.com/gp/product/B09XVLVRWD/"
					rel="noreferrer">LG 24-Inch HD monitor</a
				> - Pretty good monitor for only $150.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://www.amazon.com/Apple-iPhone-15-Pro-Max/dp/B0CMZDBVWT?th=1"
					rel="noreferrer">Iphone 15 Pro Max</a
				> - The maximum amount of Pro one can handle. Blue Titanium because every
				other phone I've had has been black.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://nomadgoods.com/products/modern-leather-case-horween-rustic-brown-iphone-15-pro"
					rel="noreferrer">Nomad Horween Leather IPhone Case</a
				> - All Nomad products are amazing. This is probably the best case I've owned.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://www.logitech.com/en-us/products/mice/mx-master-3s.html"
					rel="noreferrer">MX Master 3S mouse</a
				> - MX Master lifer; I'll never buy a different mouse.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://www.apple.com/shop/product/MXCK3LL/A/magic-keyboard-with-touch-id-for-mac-models-with-apple-silicon-usb-c-us-english"
					rel="noreferrer">Apple Magic Keyboard</a
				> - Another accessory I'll always buy. Love this keyboard. I have the version
				without Touch ID, but I want that one.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://grovemade.com/product/leather-desk-pad/?initial=547"
					rel="noreferrer">Grovemade Leather Desk Pad</a
				> - I've had this for years, and it has really held up; their products are
				top-notch.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://www.raindesigninc.com/mstand.html"
					rel="noreferrer">Rain mStand Mackbook Desk stand</a
				> - I've had the same one since 2005! High-quality.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://www.upliftdesk.com/standing-desks/"
					rel="noreferrer">Uplift Bamboo Desk</a
				> - This was my work's main desk before COVID. I liked it so much I bought
				one for home.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://www.amazon.com/Edifier-R1280DBs-Bluetooth-Bookshelf-Speakers/dp/B08865JM4N"
					rel="noreferrer"
					>Edifier R1280DBs Speakers
				</a> - Amazing sound for $130.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://us.focusrite.com/products/scarlett-2i2"
					rel="noreferrer"
					>Focus Rite Scarlett 2i2 Audio Interface
				</a> - Used for direct connection to get the highest quality sound from Apple
				Music.
			</li>
		</ul>
		<h2 class="title">Apps</h2>
		<ul class="list-inside list-disc">
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://cleanmymac.com"
					rel="noreferrer">CleanMyMac</a
				> - Great utility app for cleaning your Mac hard drive. I run a tight ship
				on my hard drive, cleanliness is next to godliness.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://music.apple.com/us/new"
					rel="noreferrer">Apple Music</a
				> I've been streaming music since before you were born. Rhapsody was my first,
				but then Spotify came around and destroyed it. After using Spotify for over
				10 years, I switched to Apple Music and I'll never go back. Spotify treats
				music as just files alongside podcasts and non-music content. Apple Music's
				experience is far better. Apple Music Spatial Audio on Apple TV with Sonos
				Arc + 2 Sonos Ones is epic!
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://www.apple.com/apple-news/"
					rel="noreferrer">Apple News</a
				> - One of my many news sources, but I really like it. Shines on iPad when
				viewing magazines. Audio story versions are high-quality.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://slack.com/"
					rel="noreferrer">Slack</a
				> - Not as good as it used to be, but still the best of the bunch. Salesforce
				is bloating it with unnecessary features.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://replay.software/sleeve"
					rel="noreferrer">Sleeve 2</a
				> - Nice little app displaying and controlling Apple Music on my desktop.
				Many customization options.
			</li>
			<li class="mb-4">
				<a
					class="cactus-link inline-block font-semibold"
					href="https://sparkmailapp.com/"
					rel="noreferrer">Spark Mail</a
				> - Pretty good; I normally use the old version but I'm retrying the newer
				version now to give it another shot. When it first came out it was just way
				to different and not that good, now it just seems different but I am getting
				used to it.
			</li>
		</ul>
	</div>
</PageLayout>
