---
interface Props {
	data: {
		desc: string;
		href: string;
		title: string;
	}[];
}

const { data } = Astro.props;
---

{
	(
		<dl class="space-y-4">
			{data.map(({ desc, href, title }) => (
				<div class="flex flex-col gap-2 sm:flex-row">
					<dt>
						<span class="flex">
							<a
								class="cactus-link whitespace-nowrap"
								href={href}
								rel="noreferrer"
								target="_blank"
							>
								{title}
							</a>
							:
						</span>
					</dt>
					<dd class="whitespace-normal">{desc}</dd>
				</div>
			))}
		</dl>
	)
}
